<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101405760382-o1o0e3hhmnlhbqi65ulm7umlo5cf1uc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101405760382-o1o0e3hhmnlhbqi65ulm7umlo5cf1uc8</string>
	<key>API_KEY</key>
	<string>AIzaSyAvxbbNcK-orQZwR8fErLXyXXgTGSBLreA</string>
	<key>GCM_SENDER_ID</key>
	<string>101405760382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astate.capstoneparkinglot</string>
	<key>PROJECT_ID</key>
	<string>astate-smart-parking-lot</string>
	<key>STORAGE_BUCKET</key>
	<string>astate-smart-parking-lot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101405760382:ios:92cacf911b4f01dcb8712f</string>
</dict>
</plist>